In [20]:
import numpy as np
import pandas as pd
import pickle

import warnings
warnings.filterwarnings("ignore")

keys = ['METACPHS_S106', 'METACPHS_S107', 'METACPHS_S108', 'METACPHS_S109', 'METACPHS_S110', 'METACPHS_S111', 'METACPHS_S112', 'METACPHS_S113', 'METACPHS_S114', 'METACPHS_S115', 'METACPHS_S116', 'METACPHS_S117', 'METACPHS_S118', 'METACPHS_S119']
key_to_num = dict()
num_to_key = dict()
for idx, key in enumerate(keys):
    key_to_num[key] = idx
    num_to_key[idx] = key

num_conds = 8
num_channels = 64

In [23]:
# Input data
dec_flattened_df1 = pd.read_csv("..\Data\dec_full_flattened_df1.csv")
dec_flattened_df2 = pd.read_csv("..\Data\dec_full_flattened_df2.csv")

# Labels?
emg_labels_df1 = pd.read_csv("..\Data\emg_full_labels1.csv")
emg_labels_df2 = pd.read_csv("..\Data\emg_full_labels2.csv")

print(dec_flattened_df2.shape)
dec_flattened_df2.head()

(2128, 5)

,Unnamed: 0,Subject,Condition,Update Number,Flattened Decoder
0,0,METACPHS_S106,0,0,[2.72214435e-03 2.60593156e-03 3.08748960e-03 ...
1,1,METACPHS_S106,0,1,[2.72214435e-03 2.60593156e-03 3.08748960e-03 ...
2,2,METACPHS_S106,0,2,[ 0.16874153 0.56059392 0.07675289 -0.615516...
3,3,METACPHS_S106,0,3,[-0.9647929 -0.92665553 0.48040832 1.036741...
4,4,METACPHS_S106,0,4,[ 2.18708248e-01 -9.91927707e-01 -1.21050169e+...

In [22]:
dec_flattened_df2['Subject'].map(key_to_num)

0        0
1        0
2        0
3        0
4        0
        ..
2123    13
2124    13
2125    13
2126    13
2127    13
Name: Subject, Length: 2128, dtype: int64